.cart{
    display: flex;
    flex-direction: column;
}
.carth2{
    text-align: center;
}
.cart-items{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.cart-item{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin:15px;
}
.quantity-control{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.last{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
   
}